body {
  margin: 10px;
}

img {
  width: 500px;
  max-width: 90vw;
  display: block;
}

.imageContainer {
  margin-bottom: 300px;
  min-height: 500px;
  border: .2px solid lightgray;
  padding: 10px;
}